.container {
  /* background: red; */
  width: 80%;
  margin: auto;
  border: 2px solid black;
  font-family: "Arial", Sans-serif;
}
h1 {
  text-align: center;
}
form {
  display: grid;
  grid-template-columns: 35% 35% 15%;
  grid-template-rows: 40px;
  gap: 7.5%;
}
.sorting,
.users {
  width: 90%;
  /* background-color: green; */
  margin: auto;
  margin-bottom: 30px;
}
.select-box {
  text-align: center;
  font-size: 18px;
}
.search {
  text-align: center;
  background-color: rgb(11, 82, 224);
  text-shadow: 2px 0px 0px black;
  color: white;
  font-size: 18px;
  border: 1px solid black;
}
.users {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
}
.user-detial {
  background-color: rgb(34, 216, 220);
  border: 1px solid black;
  border-radius: 4px;
  padding: 10px;
}
h3 {
  /* background-color: blueviolet; */
  margin: 0;
}
ol {
  /* background-color: crimson; */
  margin: 0px;
  margin-top: 10px;
}
